<ion-content>
    <ion-card class="ion-no-padding">
        <ion-card-content>
            <iframe 
            src="https://staging-global.transak.com/?apiKey=a57393b5-ff92-489d-a4d6-d8e09a26ace7&redirectURL=https://transak.com&cryptoCurrencyList=MATIC&defaultCryptoCurrency=MATIC&walletAddress=0xDc0cE83912eeF6491930F102f71398A0459e5328&disableWalletAddressForm=true&exchangeScreenTitle=NFTickets&isFeeCalculationHidden=true" frameborder="0"></iframe>
        </ion-card-content>
    </ion-card>
    <ion-button (click)="back()" expand="block" fill="solid" shape="round" color="success">
        Back
    </ion-button>
</ion-content>

<style>
    iframe{
        height: 600px;
        width: 300px;
    }
</style>