<ion-content>
    <ion-card class="ion-no-padding">
        <ion-card-content>
            <iframe 
            src="https://staging-global.transak.com/?apiKey=a57393b5-ff92-489d-a4d6-d8e09a26ace7&cryptoCurrencyList=MATIC&defaultCryptoCurrency=MATIC&walletAddress=0x2CdA8249a08797b55D1A1735978e0536C3C190fe&disableWalletAddressForm=true&exchangeScreenTitle=NFTickets&isFeeCalculationHidden=true" frameborder="0"></iframe>
        </ion-card-content>
        <ion-button (click)="back()" expand="block" fill="solid" shape="round">
            Back
        </ion-button>
    </ion-card>
</ion-content>

<style>
    iframe {
        height: 600px;
        width: fit-content;
    }
</style>